<% provide(:title, 'Breakfast') %>

<h1>Breakfast at the Pathway</h1>
THE PATHWAY BREAKFAST MENU

<p>Pot of Tea or Cafetiere of fresh ground coffee served with toasted white or brown bread.
Herbal, Green and Fruit tea are also available.
A choice of cereals, grapefruit, yogurts and fruit juice.</p>

<p>Full English:
Radford’s grilled dry cured bacon and thick pork sausage, mushrooms, beans, black pudding, fresh tomatoes, fried egg and fried bread.
"all items are optional"</p>


<p>Vegetarian Breakfast:
(Please give notice on arrival)
Vegetarian sausage, potato waffles or hash brown,
fresh tomatoes, beans, fried egg and fried bread.</p>

<p>Eggs:
A choice of free range eggs, poached, scrambled or boiled.
Alternative Fish Options
Smoked salmon and scrambled eggs.</p>

<p>Fortunes local smoked kipper fillets and brown bread.
If you would like kippers or smoked salmon please inform us the day before to make sure that they are available.`
</p>
