<% provide(:title, 'Site Map') %>

<h1>Site Map</h1>
THE PATHWAY SITE MAP 


<p>Home.
</p>
<br>
<p>Bookings.
</p>
<p>Fortunes local smoked kipper fillets and brown bread.
</p>
<br>
<p>Fortunes local smoked kipper fillets and brown bread.
</p>
<br>
<p>Fortunes local smoked kipper fillets and brown bread.
</p>
<br>
