 <!-- ABOUT SECTION
            ================================================== -->
                        <section id="about">
                        <div class="hero-unittext">
                                <h1>- Welcome to the PathWay Guest House -</h1>
                                <h2> Please find here all the information on our Superb Bed and Breakfast. <span class="highlighthero">Visit Whitby and Stay Here.</span></h2>
                        </div>
                        <div class="row-fluid">
                                <div class="span8">
                                        <h1>ABOUT THE PATHWAY</h1>
                                        <p>
The Pathway Guest House is ideally situated on the west cliff side of town being only 5 minutes walk away from the town centre, cliff tops and beach.

You will receive a warm welcome from myself, Gillian and husband Phil, whom, having both being born and brought up in Whitby, are keen to extol all that Whitby and the surrounding countryside has to offer.

                                        </p>
                                        <p>
We offer 5 double en-suite rooms, all newly refurbished, well maintained with cleanliness being paramount, plus all the usual extras you would expect and more
                                        </p>
                                </div>
                                <div class="span4">
                                        <div class="tdiv t5">
						<p>
                                                 OUT OF SEASON MID WEEK DEALS
						</p>

						Sunday to Thursday, stay 3 nights for the price of 2
						Long Weekend Break!
						<p>
						Please Phone for details.
						</p>
                                                <p>
						*Does not include half terms and bank holidays and local events
                                                </p>
                                        </div>
                                </div>
                        </div>
                        <br/>
                        </section>
                        <div class="pagebreak">
                        </div> 

