<% provide(:title, 'Booking') %>
<h1>Booking and availability</h1>
<p>Find me in app/views/pages/booking.html.erb</p>

<p>The Pathway Guest House
2 Normanby Terrace
Whitby
North Yorkshire
YO21 3ES
Tel: +44 (0)1947 601779

Book on-line / Check availability

Secure Online Booking Instant Confirmation
Check in
Check out
# Rooms
#   Room 1
#   Adults
#   Children
#   Check Availability
#    
#
#    If You have any questions, Please fill out the form below and press submit.
#
#    Alternatively to use your own email program click here. #</p>
