<!-- CONTACT
                        ================================================== -->
                        <section id="breakfast">
                        <div class="separator"></div><br/>
                        <div class="row-fluid">
                                <div class="span12 addspace">
                                        <h1>Breakfast the start of your day!</h1>
                                </div>
                        </div>
                        <div class="row-fluid" style="min-height:520px;">
                                <div class="span9">
<span class="servicetitle">THE PATHWAY BREAKFAST MENU</span>
					<p> 
Pot of Tea or Cafetiere of fresh ground coffee served with toasted white or brown bread.
</p>
					<p> 
Herbal teas, Green and Fruit tea are also available.
</p>
					<p> 
A choice of cereals, grapefruit, yogurts and fruit juice.
</p>
<div class="separator"></div>

<p class="fancystyle">
Full English:
</p>

<p>Radford’s grilled dry cured bacon and thick pork sausage</p>
<p> mushrooms, beans, black pudding, fresh tomatoes</p>
<p> fried egg and fried bread.</p>
"all items are optional"
</p>
<div class="separator"></div>
 
<p class="fancystyle">
Vegetarian Breakfast:
</p>
<p>
<u>Please give notice on arrival</u>
</p>

<p>
Vegetarian sausage, potato waffles or hash brown,
</p>

<p>
fresh tomatoes, beans, fried egg and fried bread.
</p>

<div class="separator"></div>
<p class="fancystyle">
Eggs:
</p>

A choice of free range eggs, poached, scrambled or boiled.
<div class="separator"></div>

<p class="fancystyle">
Alternative Fish Options
</p>
<p>
Smoked salmon and scrambled eggs.
</p>
<p>
Fortunes local smoked kipper fillets and brown bread.
</p>
<p>
Poached smoked haddock.
</p>
<p>
<u>If you would like kippers or any smoked fish please inform us the day before to make sure that they are available.</u> </p>
                                        </div>
                                </div>
                        </div>
                </section>
