<% provide(:title, 'Directions') %>
<h1>Directions</h1>
<p>This is how to find the pathway .
</p>
<p>
Travel along the A171 heading towards Whitby from the direction of Scarborough.Continue on the A171 over the Whitby New Bridge and the River Esk. Continue through the set of traffic lights heading towards the Town Center down Prospect Hill and Downdinner Hill. Take your next turning on your left heading up Chubb Hill Road towards West Cliff. Take your second left off the roundabout along Upgang Lane. First right down Crescent Avenue. Continue following the road which forks to the left. Normanby Terrace is the first turning on your right. There is on street parking available. The Pathway Guest House is situated on your left hand side three quarters of the way down Normanby Terrace.</p>

<p>
From Teeside (Pickering) A171

Travel along the A171(A169) heading towards Whitby from the direction of Teeside. Stay on this road until you can go no further and you will meet a set of traffic lights. Turn left at the lights heading towards the Town Centre down Prospect Hill and Downdinner Hill. Take your next turning on your left heading up Chubb Hill Road towards West Cliff. Take your second right off the roundabout along Upgang Lane. First right down Crescent Avenue. Continue following the road which forks to the left. Normanby Terrace is the first turning on your right. There is on street parking available. The Pathway Guest House is situated on your left hand side three quarters of the way down Normanby Terrace. </p>

