    <!-- FOOTER
            ================================================== -->
                <div class="row-fluid">
<div class="separator"></div><br>
                        <div class="span12 addspace center">
				</br>
				<p> <small>
Terms and conditions:
</small> </p>
<p> <small>
Rooms should be available by 11am on the day of arrival and checkout is by 10am on the day of departure.
A minimum stay of two nights is required for a weekend stay and three nights for a bank holiday weekend or a special event.
A one night deposit is required when making a booking direct with us, room cancellations are required  48 hours  prior to arrival, if a room is cancelled within  48 hours of arrival we reserve the right to view this  as a no show and keep the deposit or if there is good reason the deposit could be held for a period of 8 weeks for a revised booking.
We operate a strict non smoking policy, guests found smoking on the premises will be asked to leave immediately and will have to pay for the full term of their booking, there will also be an extra charge of £50 towards cleaning costs.
If a booking is made through an online booking agent their terms and conditions will apply. </small>
				</p>
                                <p>
                                        <small>&copy; 2013 The Pathway Bed and Breakfast Whitby Guest House.</small>
                                </p>
                        </div>
                </div>

                <!-- CLOSE ALL DIVS
            ================================================== -->
        </div><!--/.span9-->
    </div><!--/.row-fluid-->
</div><!--/.container-fluid-->
