           <!-- GUESTBOOK 
            ================================================== -->
                        <section id="guestbook">
                        <div class="separator"></div><br/>
                        <div class="row-fluid">
                                <div class="span10 addspace">
                                        <h1>HERE IS WHAT OUR GUEST HAVE TO SAY</h1>
<p class="fancystyle">
Here are some of the many POSITIVE comments we have recieved in our guest book over the last few years.
</p>

<div class="tdiv t5">
"Phil is a Gem, love their dog too, lovely B & B, beautiful breakfast and wonderful hospitality" Valerie and Niro, Queesland, Australia.
					<br>
						<p>
				
"A wonderful B & B, a quality establishment" - Rob and Yvonne, Derbyshire,09/12.
						</p>
<p>
"Lovely room,frienldy hosts, best B & B we have stayed in, back soon" -  Paul andMandy Masterson 4/09/2011
                                        </p>

<p>
"A wonderful introduction to the area, we'll be back" - Hazel and Michael. W.Sussex 29/9/2011
                                        </p>

<p>
"One word sums up our stay, EXCELLENT. Pat and John, Congleton 28/9/11
                                        </p>

<p>
"Came for two nights, so good stayed for four"
Julie and Phil James, South Wales 3/9/2010

                                        </p>
<p>
"Thanks once again for a wonderful stay and breakfast"
Pat and Brian Wrigglesworth, Burnley 3/9/2010
                                        </p>

<p>
"absolutely brilliant"
Mr&Mrs Haylett,Ripley 27/9/2010
                                        </p>

<p>
"Everything was Excellent, perfect hosts"
Mr and Mrs Mason, Willerby 3/10/2010
                                        </p>

<p>
"Lovely Decor,Great Breakfast,perfect Location" 
Haley & Chris , Boroughbridge,York 14/2/2009</p>
					</div>
</br>
</br>

<p class="fancystyle">
You can also check out our guest reviews on Trip Advisor.
</p>
<div class="span5">
<a href="http://www.tripadvisor.co.uk/Hotel_Review-g186345-d2650898-Reviews-The_Pathway_Guest_House-Whitby_North_Yorkshire_England.html"><img src="/assets/tripad.png" alt=""></a>
<div id="TA_excellent268" class="TA_excellent">
<ul id="L13IuZyY3" class="TA_links 0ayy5tmn">
<li id="VTEqMibDIgA" class="3eCtUrC">
<a target="_blank" href="http://www.tripadvisor.co.uk/"><img src="http://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO"/></a>
</li>
</div>
</div>

<div class="span5">
<div id="hc-ratingRatingHotel"><div id="hc-ratingRatingHotel__inner" class="hc-item tet"><a id="hc-ratingRatingHotel__hclink" target="_blank" class="hc-item" href="https://www.hotelscombined.co.uk">HotelsCombined</a></div></div> <div id="hc-data" style="display: none;"> <div id="hc-data__rating">9.3</div> <div id="hc-data__hotelname">The Pathway Guest House</div> <div id="hc-data__hotellink">The_Pathway_Guest_House</div> </div> <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script> <script>!function(){function t(t,e){if("js"==e)(s=document.createElement("script")).setAttribute("type","text/javascript"),s.setAttribute("src",t);else if("css"==e){var s=document.createElement("link");s.setAttribute("rel","stylesheet"),s.setAttribute("type","text/css"),s.setAttribute("href",t)}void 0!==s&&document.getElementsByTagName("head")[0].appendChild(s)}var e=Math.floor(99999999*Math.random()+1);t("https://media.datahc.com/ratinghotel/roe/styles-v2.css?v"+e,"css"),t("https://media.datahc.com/ratinghotel/roe/script-v2.js?v"+e,"js")}();</script>
</div>
                        </div>
                        </section>
