<div class="container-fluid">
        <div class="row-fluid">
            <!-- SIDEBAR 
                ================================================== -->
                <div class="span3">
                        <div class="well sidebar-nav sidebar-nav-fixed">
                                <div class="logo">
                                        <!-- Logo --><a href="#home">The Pathway</a>
                                </div>
                                <ul>
                                        <!-- MENU - Note that "#..." is the anchor id. Each one should correspond to our id sections below.
                    ================================================== -->
                                        <li><a class="home" href="#home">Home</a></li>
    
                                        <li><a class="services" href="#services">Tarrifs</a></li>
    
                                        <li><a class="portofolio" href="#portofolio">Rooms</a></li>

                                        <li><a class="breakfast" href="#breakfast">Breakfast</a></li>
    
                                        <li><a class="contact" href="#contact" >Bookings /Contact </a></li>

                                        <li><a class="services" href="#services">Blog / Whats On</a></li>

                                        <li><a class="guestbook" href="#guestbook">Guest Book</a></li>
                                        <li class="description">Take a look.</li>


                                </ul>
                                <div class="social">
                                        <a href="https://www.facebook.com/pages/Pathway-Guest-House/447924245244655"><img src="/assets/facebook.png" alt=""></a>
                                        <a href="#"><img src="/assets/twitter.png" alt=""></a>
                                </div>
                        </div>
                </div>

<!-- MAIN CONTENT
                ================================================== -->
                <div class="span9">
                        <!-- HOME SECTION
            ================================================== -->
                        <section id="home">
                        <div class="hero-unit">
                                <div class="slider-wrapper theme-default">
                                        <div id="slider" class="nivoSlider">
                                                <!-- Slider items here-->
                                                <a href="#"><img src="/assets/slide1.jpg" alt="" title="Welcome to Pathway Guest House in Whitby."/></a>
                                                <a href="#"><img src="/assets/slide2.jpg" alt="" title="Whitby by the sea."/></a>
                                                <a href="#"><img src="/assets/slide3.jpg" alt="" title="The Pathway Guest House."/></a>
                                        </div>
                                            <!-- Some shadow--><img src="/assets/shadow.png" alt="" class="shadowslider">
                                </div>
                        </div>
                        </section>
<div class="container-fluid">
