<% provide(:title, 'Home') %>
<h1>Welcome to the Pathway</h1>
<p>The Pathway Guest House is ideally situated on the west cliff side of town being only 5 minutes walk away from the town centre, cliff tops and beach.</p>

<p>You will receive a warm welcome from myself, Gillian and husband Phil, whom, having both being born and brought up in Whitby, are keen to extol all that Whitby and the surrounding countryside has to offer.</p>

<p>We offer 5 double en-suite rooms, all newly refurbished, well maintained with cleanliness being paramount, plus all the usual extras you would expect and more</p>

<p>A hearty full English breakfast is served in our spacious dining room at the front of the house with separate tables for all. We use only the best quality locally sourced meat and dairy products, whilst offering alternatives such as scrambled egg and smoked salmon, or fortunes notorious smoked kipper fillets. A vegetarian and celiac menu is also available with prior notice.</p> 
