<!-- PORTOFOLIO FILTERABLE
            ================================================== -->
                        <section id="portofolio">
                        <div class="separator"></div>
                        <div class="row-fluid">
                                <div class="span12 addspace">
                                        <h1>View Our Rooms available for your stay.</h1>
					<p>
					Spacious, clean and warm accommodation.
					Access to guest house and rooms at all times.
					All double rooms.
					All rooms ensuite.
					Bed and Breakfast,
					Colour Televisons,
					Tea and coffee making facilities in all rooms.
                                        </p>
                                        <p>
					Non-smoking.
					Separate tables in the dining room.
					Fire certificate.
					On-street parking.
					Public liability insurance.
					Biker friendly facilities.
					 </p>
					<p>
					The Pathway has three steps leading up to the front door and the ground floor where the dining room is situated.
					One and a half flights of stairs lead to the first floor where room 1 and the four poster room is situated.
					Another one a half flights lead to the second floor to rooms 3 and 4.
					Finally another flight of stairs lead to the double or family room on the third floor. 
					The Pathway is not suitable for people who require wheelchairs.
					</p>

                                </div>
                        </div>
                        <div class="row-fluid">
                                <div class="span12 addspace">                              
                                        <aside class="clearfix">
                                        <nav class="category clearfix">
                                        <ul> <!-- Define portofolio categories-->
                                                <li><a href="#" data-filter=".room1">Room1</a></li>
                                                <li><a href="#" class="selected" data-filter=".room2">Room2</a></li>
                                                <li><a href="#" data-filter=".room3">Room3</a></li>
                                                <li><a href="#" data-filter=".room4">Room4</a></li>
                                                <li><a href="#" data-filter=".fam">Room7</a></li>
                                                <li><a href="#" data-filter="*">All</a></li>
                                        </ul>
                                        </nav>
                                        </aside>                                            
                                                <section class="main clearfix">
                                                <div class="fportfolio  isotope-item">
                                                     <!-- Add images-->
                                                        <article class="entry room1 isotope-item">
                                                        <img src="/assets/room1/room1-1.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room1 isotope-item">
                                                        <img src="/assets/room1/room1-2.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>

                                                        <article class="entry room1 isotope-item">
                                                        <img src="/assets/room1/room1-3.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        
                                                        <article class="entry room1 isotope-item">
                                                        <img src="/assets/room1/room1-4.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room2 isotope-item">
                                                        <img src="/assets/room2/room2-1.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room2 isotope-item">
                                                        <img src="/assets/room2/room2-2.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room2 isotope-item">
                                                        <img src="/assets/room2/room2-3.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room2 isotope-item">
                                                        <img src="/assets/room2/room2-4.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room3 isotope-item">
                                                        <img src="/assets/room3/room3-1.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room3 isotope-item">
                                                        <img src="/assets/room3/room3-2.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room3 isotope-item">
                                                        <img src="/assets/room3/room3-3.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room3 isotope-item">
                                                        <img src="/assets/room3/room3-4.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room4 isotope-item">
                                                        <img src="/assets/room4/room4-1.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room4 isotope-item">
                                                        <img src="/assets/room4/room4-2.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room4 isotope-item">
                                                        <img src="/assets/room4/room4-3.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry room4 isotope-item">
                                                        <img src="/assets/room4/room4-4.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry fam isotope-item">
                                                        <img src="/assets/famroom/famroom-1.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>

                                                        <article class="entry fam isotope-item">
                                                        <img src="/assets/famroom/famroom-2.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>
                                                        
                                                        <article class="entry fam isotope-item">
                                                        <img src="/assets/famroom/famroom-3.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>

                                                        <article class="entry fam isotope-item">
                                                        <img src="/assets/famroom/famroom-4.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>

                                                        <article class="entry fam isotope-item">
                                                        <img src="/assets/famroom/famroom-5.jpg" alt="">
                                                        <span class="hover"></span>
                                                        </article>

                                                </div>
                                                </section>
                                </div>
                        </div>
                        <div class="pagebreak"></div>
                        <br/>


