            <!-- SERVICES
            ================================================== -->
                        <section id="services">
                        <div class="separator"></div><br/>
                        <div class="row-fluid">
                                <div class="span12">
                                        <h1>PATHWAY INFORMATION</h1>
                                </div>
                        </div>
                        <div class="row-fluid">
                                <div class="span6">
                                        <span class="servicetitle">Prices</span>
                                        <p>
We offer 5 double en-suite rooms, all newly refurbished, well maintained with cleanliness being paramount, plus all the usual extras you would expect and more
                                        </p>
                                        <ul>
					<li> <p class="fancystyle">
					Four Poster Double    £75 per room per night.
					</p></li>

					<li><p class="fancystyle">
                             
					Double Room   £65 per room per night.
					</p></li>
					</ul>
					
                                </div>
                                <div class="span6">
                                        <span class="servicetitle grey">Breakfast</span>
                                        <p>
A hearty full English breakfast is served in our spacious dining room  with separate tables for all.
				        </p>
					<p>
					 We use only the best quality locally sourced meat and dairy products, whilst offering alternatives such as scrambled egg and smoked salmon, or fortunes notorious smoked kipper fillets.
                                        </p>
                                        <p>
A vegetarian and celiac menu is also available with prior notice.
                                        </p>
                                        <p class="fancystyle">
<a class="breakfast fancystyle" href="#breakfast">Click Here to see a full menu.</a> 
                                        </p>
                                </div>
                        </div>
                        <br/>
                        <div class="row-fluid">
                                <div class="span6">
                                        <span class="servicetitle grey">Facilities</span>
                                        <p>
The Pathway has Spacious, clean and warm accommodation.Access to guest house and rooms at all times.All double rooms with en-suite. Rooms have Colour Televisons with Tea and coffee making facilities.
</p>
<p>
The Pathway is Non-smoking. We have Separate tables in the dining room. Fire certificate.On-street parking.Public liability insurance.Secure Parking for 2 Bikes.
                                        </p>
                                </div>
                                <div class="span6">
                                        <span class="servicetitle">Events</span>
                                        <p>
					 Here are some useful dates for 2016/17
                                        </p>
                                         <li>
					 Whitby Goth Weekend 21st-23rd April 2017
					</li>
                                         <li>
					 Great Seaside Vintage Fair 22nd July 2017
					</li>
                                         <li>
					 Whitby Regatta 19th,20th,21st August 2017
					</li>
                                         <li>
					 Whitby 60s Weekend 22nd-24th September 2017
					</li>
                                </div>
                        </div>
                        </section>
                        <div class="pagebreak">
                        </div>

