          <div class="span3">
			<div class="well sidebar-nav sidebar-nav-fixed">
				<div class="logo">
					<!-- Logo --><a href="#home">Afolique</a>
				</div>
				<ul>
					<!-- MENU - Note that "#..." is the anchor id. Each one should correspond to our id sections below.
                    ================================================== -->
					<li><a class="home" href="#home">Home</a></li>
					<li class="description">Sweet home</li>
					
					<li><a class="about" href="#about">About me</a></li>
					<li class="description">Who I am</li>
					
					<li><a class="services" href="#services">Services</a></li>
					<li class="description">What I offer</li>
					
					<li><a class="portofolio" href="#portofolio">Portfolio</a></li>
					<li class="description">Two styles</li>
					
					<li><a class="contact" href="#contact">Contact</a></li>
					<li class="description">Get in touch</li>
				</ul>
				<div class="social">
					<a href="#"><img src="img/facebook.png" alt=""></a>
					<a href="#"><img src="img/twitter.png" alt=""></a>
				</div>
			</div>
		</div>
