<% provide(:title, 'Terms and Conditions') %>

<h1>Term and Condidtions for the Pathway Guest House</h1>
<p>
SpaciouSS clean and warm accommodation
Access to guest house and rooms at all times
All double rooms
All rooms ensuite
Bed and Breakfast
Colour Televisons
Tea and coffee making facilities in all rooms
Non-smoking
Separate tables in the dining room
Fire certificate
On-street parking
Public liability insurance
Biker friendly facilities
 </p>
<p>room1</p>
<p>romm2</p>

